<!DOCTYPE html>
<html>
<head>
    <title>sendfrase</title>
</head>
<body>



	
	
<h2><font face="Times New Roman" align="center"><u><b><i>plata 140</i></b></u></font></h2>
<table border="1" width="69%">
	<tr>
		<td width="250" colspan="5" align="center">
		<button onclick="sendPhrase('140&amp;M112')">EMERGENCY STOP</button>
		</td>
		<td width="50" align="center"><b>140&amp;</b></td>
		<td width="100" align="center">
		<button onclick="sendPhrase('140&amp;G90')">G90(absolute)</button></td>
		<td width="100" align="center">
		<button onclick="sendPhrase('140&amp;G91')">G91(relative)</button></td>
		<td width="756" colspan="13" align="center">
		<button onclick="sendPhrase('140&amp;G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">
		<button onclick="sendPhrase('140&amp;M114')">Status</button></td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z10')">Z10</button></td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U10')">U10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V10')">V10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1VW10')">W10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A10')">A10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B10')">B10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C10')">C10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D10')">D10</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y1')">Y1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z1')">Z1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U1')">U1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V1')">V1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W1')">W1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A1')">A1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B1')">B1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C1')">C1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D1')">D1</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y0.1')">Y0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z0.1')">Z0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U0.1')">U0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V0.1')">V0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W0.1')">W0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A0.1')">A0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B0.1')">B0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C0.1')">C0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D0.1')">D0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y0.01')">Y0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z0.01')">Z0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U0.01')">U0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V0.01')">V0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W0.01')">W0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A0.01')">A0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B0.01')">B0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C0.01')">C0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D0.01')">D0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y0.002')">Y0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z0.002')">Z0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U0.002')">U0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V0.002')">V0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W0.002')">W0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A0.002')">A0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B0.002')">B0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C0.002')">C0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D0.002')">D0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X10')">X10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X1')">X1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X0.1')">X0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X0.01')">X0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X0.002')">X0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X-1')">X-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1X-10')">X-10</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z-0.002')">Z-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U-0.002')">U-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V-0.002')">V-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W-0.002')">W-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A-0.002')">A-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B-0.002')">B-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C-0.002')">C-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D-0.002')">D-0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y-0.01')">Y-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z-0.01')">Z-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U-0.01')">U-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V-0.01')">V-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W-0.01')">W-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A-0.01')">A-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B-0.01')">B-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C-0.01')">C-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D-0.01')">D-0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y-0.1')">Y-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z-0.1')">Z-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U-0.1')">U-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V-0.1')">V-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W-0.1')">W-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A-0.1')">A-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B-0.1')">B-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C-0.1')">C-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D-0.1')">D-0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y-1')">Y-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z-1')">Z-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U-1')">U-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V-1')">V-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W-1')">W-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A-1')">A-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B-1')">B-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C-1')">C-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D-1')">D-1</button></td>
	</tr>
	<tr>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Y-10')">Y-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1Z-10')">Z-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1U-10')">U-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1V-10')">V-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1W-10')">W-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1A-10')">A-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1B-10')">B-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1C-10')">C-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('140&amp;G1D-10')">D-10</button></td>
	</tr>
</table>
<div style="position: absolute; width: 671px; height: 414px; z-index: 1; left: 1342px; top: 5px" id="layer1">
	<u><i><b><font size="5">plata 205</font></b></i></u><table border="1" width="91%">
		<tr>
			<td width="200" colspan="2" align="center">
			<button onclick="sendPhrase('205&amp;M112')">EMERGENCY STOP</button>
			</td>
			<td width="125" align="center"><b>205&amp;</b></td>
			<td width="100" align="center">
			<button onclick="sendPhrase('205&amp;G90')">G90(absolute)</button>
			</td>
			<td width="100" align="center">
			<button onclick="sendPhrase('205&amp;G91')">G91(relative)</button>
			</td>
			<td width="400" colspan="6" align="center">
			<button onclick="sendPhrase('205&amp;G28')">Home ALL</button></td>
		</tr>
		<tr>
			<td width="125" align="center"><b><font size="5">X</font></b></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center"><b><font size="5">Y</font></b></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center"><b><font size="5">Z</font></b></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center"><b><font size="5">U</font></b></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center"><b><font size="5">V</font></b></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X10')">X10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y10')">Y10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z10')">Z10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U10')">U10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V10')">V10</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X1')">X1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y1')">Y1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z1')">Z1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U1')">U1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V1')">V1</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X0.1')">X0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y0.1')">Y0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z0.1')">Z0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U0.1')">U0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V0.1')">V0.1</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X0.01')">X0.01</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y0.01')">Y0.01</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z0.01')">Z0.01</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U0.01')">U0.01</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V0.01')">V0.01</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X0.002')">X0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y0.002')">Y0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z0.002')">Z0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U0.002')">U0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V0.002')">V0.002</button>
			</td>
		</tr>
		<tr>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X-0.002')">X-0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y-0.002')">Y-0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z-0.002')">Z-0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U-0.002')">U-0.002</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V-0.002')">V-0.002</button>
			</td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X-0.01')">X-0.01</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y-0.01')">Y-0.01</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z-0.01')">Z-0.01</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U-0.01')">U-0.01</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V-0.01')">V-0.01</button>
			</td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X-0.1')">X-0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y-0.1')">Y-0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z-0.1')">Z-0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U-0.1')">U-0.1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V-0.1')">V-0.1</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X-1')">X-1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y-1')">Y-1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z-1')">Z-1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U-1')">U-1</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V-1')">V-1</button></td>
		</tr>
		<tr>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1X-10')">X-10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Y-10')">Y-10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1Z-10')">Z-10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1U-10')">U-10</button></td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;G1V-10')">V-10</button></td>
		</tr>
		<tr>
			<td width="925" align="center" colspan="9">Macros</td>
		</tr>
		<tr>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">
			<button onclick="sendPhrase('205&amp;M98 MoveZ.g')">MoveZ</button>
			</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
		</tr>
		<tr>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
			<td width="75" align="center">&nbsp;</td>
			<td width="125" align="center">&nbsp;</td>
		</tr>
	</table>
</div>
<p>&nbsp;</p>
<h2><font face="Times New Roman" align="center"><u><i><b>plata 213</b></i></u></font></h2>
<table border="1" width="82%">
	<tr>
		<td width="280" align="center" colspan="5">&nbsp;</td>
		<td width="63" align="center">V1U1</td>
		<td width="330" align="center" colspan="5">&nbsp;</td>
		<td width="5" align="center">&nbsp;</td>
		<td width="75" align="center" colspan="5">
		<button onclick="sendPhrase('213&amp;M112')">EMERGENCY STOP</button>
		</td>
		<td width="50" align="center"><b>213&amp;</b></td>
		<td width="100" align="center">
		<button onclick="sendPhrase('213&amp;G90')">G90(absolute)</button></td>
		<td width="100" align="center">
		<button onclick="sendPhrase('213&amp;G91')">G91(relative)</button></td>
		<td width="275" colspan="7" align="center">
		<button onclick="sendPhrase('213&amp;G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U10')">U10</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="5" align="center" rowspan="11">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z10')">Z10</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U1')">U1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y1')">Y1</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z1')">Z1</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U0.1')">U0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y0.1')">Y0.1</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z0.1')">Z0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U0.01')">U0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y0.01')">Y0.01</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z0.01')">Z0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U0.002')">U0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y0.002')">Y0.002</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z0.002')">Z0.002</button></td>
	</tr>
	<tr>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V10')">V10</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V1')">V1</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V0.1')">V0.1</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V0.01')">V0.01</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V0.002')">V0.002</button></td>
		<td width="60" align="center">&nbsp;</td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V-0.002')">V-0.002</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V-0.01')">V-0.01</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V-0.1')">V-0.1</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V-1')">V-1</button></td>
		<td width="60" align="center">
		<button onclick="sendPhrase('213&amp;G1V-10')">V-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X10')">X10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X1')">X1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X0.1')">X0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X0.01')">X0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X0.002')">X0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X-1')">X-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1X-10')">X-10</button></td>
		<td width="132" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U-0.002')">U-0.002</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z-0.002')">Z-0.002</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U-0.01')">U-0.01</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y-0.01')">Y-0.01</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z-0.01')">Z-0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U-0.1')">U-0.1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y-0.1')">Y-0.1</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z-0.1')">Z-0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U-1')">U-1</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y-1')">Y-1</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z-1')">Z-1</button></td>
	</tr>
	<tr>
		<td width="63" align="center">
		<button onclick="sendPhrase('213&amp;G1U-10')">U-10</button></td>
		<td width="50" align="center">
		<button onclick="sendPhrase('213&amp;G1Y-10')">Y-10</button></td>
		<td width="132" align="center">
		<button onclick="sendPhrase('213&amp;G1Z-10')">Z-10</button></td>
	</tr>
</table>
<p>
<img border="0" src="new.png" width="920" height="554"  /></p>
<h2>Управление Макросами</h2>
<button onclick="sendPhrase('140&amp;M98 MoveZ.g')">MoveZ</button>
<div id="response">
</div>
<hr>
<h1>Ввод команд</h1>
<textarea id="commandInput" rows="1" cols="50"></textarea><br>
<button onclick="sendCommand()">Отправить команду</button>
<div id="commandResponse">
</div>

    <script>
        function sendPhrase(phrase) {
            // &#1056;&#1115;&#1057;&#1027;&#1057;‚&#1056;°&#1056;&#1030;&#1057;&#1034;&#1057;‚&#1056;µ &#1057;&#1036;&#1057;‚&#1057;&#1107; &#1057;‡&#1056;°&#1057;&#1027;&#1057;‚&#1057;&#1034; &#1056;&#1108;&#1056;&#1109;&#1056;&#1169;&#1056;°, &#1057;‡&#1057;‚&#1056;&#1109;&#1056;±&#1057;‹ &#1056;&#1109;&#1057;‚&#1056;&#1111;&#1057;&#1026;&#1056;°&#1056;&#1030;&#1056;&#1105;&#1057;‚&#1057;&#1034; &#1057;„&#1057;&#1026;&#1056;°&#1056;·&#1057;&#1107; &#1056;&#1029;&#1056;° &#1057;&#1027;&#1056;µ&#1057;&#1026;&#1056;&#1030;&#1056;µ&#1057;&#1026;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/feedback', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'feedback=' + encodeURIComponent(phrase);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('response').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);
        }

        function sendCommand() {
            // &#1056;&#1119;&#1056;&#1109;&#1056;»&#1057;&#1107;&#1057;‡&#1056;°&#1056;µ&#1056;&#1112; &#1057;‚&#1056;µ&#1056;&#1108;&#1057;&#1027;&#1057;‚ &#1056;&#1105;&#1056;· textarea
            var command = document.getElementById('commandInput').value;

            // &#1056;&#1115;&#1057;‚&#1056;&#1111;&#1057;&#1026;&#1056;°&#1056;&#1030;&#1056;»&#1057;&#1039;&#1056;µ&#1056;&#1112; &#1056;&#1108;&#1056;&#1109;&#1056;&#1112;&#1056;°&#1056;&#1029;&#1056;&#1169;&#1057;&#1107; &#1056;&#1029;&#1056;° &#1057;&#1027;&#1056;µ&#1057;&#1026;&#1056;&#1030;&#1056;µ&#1057;&#1026;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/command', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'command=' + encodeURIComponent(command);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('commandResponse').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);

            // &#1056;&#1115;&#1057;‡&#1056;&#1105;&#1057;‰&#1056;°&#1056;µ&#1056;&#1112; &#1057;‚&#1056;µ&#1056;&#1108;&#1057;&#1027;&#1057;‚&#1056;&#1109;&#1056;&#1030;&#1056;&#1109;&#1056;µ &#1056;&#1111;&#1056;&#1109;&#1056;»&#1056;µ &#1056;&#1111;&#1056;&#1109;&#1057;&#1027;&#1056;»&#1056;µ &#1056;&#1109;&#1057;‚&#1056;&#1111;&#1057;&#1026;&#1056;°&#1056;&#1030;&#1056;&#1108;&#1056;&#1105; &#1056;&#1108;&#1056;&#1109;&#1056;&#1112;&#1056;°&#1056;&#1029;&#1056;&#1169;&#1057;‹
            document.getElementById('commandInput').value = '';
        }
    </script>

</body>

</html>