<!DOCTYPE html>
<html>
<head>
    <title>sendfrase</title>
</head>
<body>



	
	
	<h2><font face="Times New Roman" align="center"><u><b><i>plata 140</i></b></u></font></h2>
<table border="1" width="52%">
	<tr>
		<td width="250" colspan="5" align="center"><button onclick="sendPhrase('140&M112')">EMERGENCY STOP</button></td></td>
		<td width="50" align="center"><b>140&</b></td>
		<td width="623" align="center" colspan="10"><button onclick="sendPhrase('140&G90')">
		G90(absolute)</button>
		<button onclick="sendPhrase('140&G91')">G91(relative)</button>
		<button onclick="sendPhrase('140&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5"><button onclick="sendPhrase('140&M114')">Status</button></td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z10')">
		Z10</button></td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U10')">U10</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V10')">V10</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y1')">Y1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z1')">Z1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U1')">U1</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V1')">V1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y0.1')">Y0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z0.1')">Z0.1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U0.1')">U0.1</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V0.1')">V0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y0.01')">Y0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z0.01')">Z0.01</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U0.01')">U0.01</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V0.01')">V0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y0.002')">Y0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z0.002')">Z0.002</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U0.002')">U0.002</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V0.002')">V0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X10')">X10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X1')">X1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X0.1')">X0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X0.01')">X0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X0.002')">X0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X-1')">X-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1X-10')">X-10</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="78" align="center">&nbsp;</td>
		<td width="77" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z-0.002')">Z-0.002</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U-0.002')">U-0.002</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V-0.002')">V-0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y-0.01')">Y-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z-0.01')">Z-0.01</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U-0.01')">U-0.01</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V-0.01')">V-0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y-0.1')">Y-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z-0.1')">Z-0.1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U-0.1')">U-0.1</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V-0.1')">V-0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y-1')">Y-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z-1')">Z-1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U-1')">U-1</td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V-1')">V-1</td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Y-10')">Y-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1Z-10')">Z-10</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('140&G1U-10')">U-10</button></td>
		<td width="77" align="center"><button onclick="sendPhrase('140&G1V-10')">V-10</button></td>
	</tr>
	</table>
	<p>&nbsp;</p>
	<div style="position: absolute; width: 671px; height: 414px; z-index: 1; left: 1181px; top: 26px" id="layer1">
<u><i><b><font size="5">plata 205</font></b></i></u><table border="1" width="52%">
	<tr>
		<td width="250" colspan="5" align="center"><button onclick="sendPhrase('205&M112')">EMERGENCY STOP</button></td></td>
		<td width="50" align="center"><b>205&</b></td>
		<td width="623" align="center" colspan="7"><button onclick="sendPhrase('205&G90')">
		G90(absolute)</button>
		<button onclick="sendPhrase('205&G91')">G91(relative)</button>
		<button onclick="sendPhrase('205&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5"><button onclick="sendPhrase('205&M114')">Status</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z10')">
		Z10</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U10')">
		U10</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y1')">Y1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z1')">Z1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U1')">
		U1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y0.1')">Y0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z0.1')">Z0.1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U0.1')">
		U0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y0.01')">Y0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z0.01')">Z0.01</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U0.01')">
		U0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y0.002')">Y0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z0.002')">Z0.002</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U0.002')">
		U0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X10')">X10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X1')">X1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X0.1')">X0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X0.01')">X0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X0.002')">X0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X-1')">X-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1X-10')">X-10</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="78" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z-0.002')">Z-0.002</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U-0.002')">
		U-0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y-0.01')">Y-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z-0.01')">Z-0.01</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U-0.01')">
		U-0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y-0.1')">Y-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z-0.1')">Z-0.1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U-0.1')">
		U-0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y-1')">Y-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z-1')">Z-1</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U-1')">
		U-1</td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Y-10')">Y-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('205&G1Z-10')">Z-10</button></td>
		<td width="78" align="center"><button onclick="sendPhrase('205&G1U-10')">
		U-10</button></td>
	</tr>
	</table>
</div>
<table border="1" width="82%">
	<tr>
		<td width="280" align="center" colspan="5">&nbsp;</td>
		</td>
		<td width="63" align="center">C1D1</td>
		<td width="330" align="center" colspan="5">&nbsp;</td>
		<td width="5" align="center">&nbsp;</td>
		<td width="75" align="center" colspan="5"><button onclick="sendPhrase('140&M112')">EMERGENCY STOP</button></td>
		<td width="50" align="center"><b>140&</b></td>
	<td width="475" align="center" colspan="7"><button onclick="sendPhrase('140&G90')">G90(absolute)</button>
	<button onclick="sendPhrase('140&G91')">G91(relative)</button>
	<button onclick="sendPhrase('140&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D10')">D10</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="5" align="center" rowspan="11">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B10')">B10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W10')">W10</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D1')">D1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B1')">B1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W1')">W1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D0.1')">D0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B0.1')">B0.1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W0.1')">W0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D0.01')">D0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B0.01')">B0.01</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W0.01')">W0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D0.002')">D0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B0.002')">B0.002</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W0.002')">W0.002</button></td>
	</tr>
	<tr>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C10')">C10</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C1')">C1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C0.1')">C0.1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C0.01')">C0.01</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C0.002')">C0.002</button></td>
		<td width="60" align="center">&nbsp;</td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C-0.002')">C-0.002</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C-0.01')">C-0.01</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C-0.1')">C-0.1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C-1')">C-1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('140&G1C-10')">C-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A10')">A10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A1')">A1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A0.1')">A0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A0.01')">A0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A0.002')">A0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A-0.002')">A-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A-0.01')">A-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A-0.1')">A-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A-1')">A-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1A-10')">A-10</button></td>
		<td width="132" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D-0.002')">D-0.002</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B-0.002')">B-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W-0.002')">W-0.002</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D-0.01')">D-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B-0.01')">B-0.01</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W-0.01')">W-0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D-0.1')">D-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B-0.1')">B-0.1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W-0.1')">W-0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D-1')">D-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B-1')">B-1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W-1')">W-1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('140&G1D-10')">D-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('140&G1B-10')">B-10</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('140&G1W-10')">W-10</button></td>
	</tr>
	</table>
	</table>



	<h2><font face="Times New Roman" align="center"><u><i><b>plata 213</b></i></u></font></h2>
<table border="1" width="82%">
	<tr>
		<td width="280" align="center" colspan="5">&nbsp;</td>
		</td>
		<td width="63" align="center">V1U1</td>
		<td width="330" align="center" colspan="5">&nbsp;</td>
		<td width="5" align="center">&nbsp;</td>
		<td width="75" align="center" colspan="5"><button onclick="sendPhrase('213&M112')">EMERGENCY STOP</button></td>
		<td width="50" align="center"><b>213&</b></td>
	<td width="475" align="center" colspan="7"><button onclick="sendPhrase('213&G90')">G90(absolute)</button>
	<button onclick="sendPhrase('213&G91')">G91(relative)</button>
	<button onclick="sendPhrase('213&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U10')">U10</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="5" align="center" rowspan="11">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z10')">Z10</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U1')">U1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y1')">Y1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z1')">Z1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U0.1')">U0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y0.1')">Y0.1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z0.1')">Z0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U0.01')">U0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y0.01')">Y0.01</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z0.01')">Z0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U0.002')">U0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y0.002')">Y0.002</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z0.002')">Z0.002</button></td>
	</tr>
	<tr>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V10')">V10</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V1')">V1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V0.1')">V0.1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V0.01')">V0.01</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V0.002')">V0.002</button></td>
		<td width="60" align="center">&nbsp;</td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V-0.002')">V-0.002</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V-0.01')">V-0.01</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V-0.1')">V-0.1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V-1')">V-1</button></td>
		<td width="60" align="center"><button onclick="sendPhrase('213&G1V-10')">V-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X10')">X10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X1')">X1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X0.1')">X0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X0.01')">X0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X0.002')">X0.002</button></td>
		<td width="50" align="center">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X-1')">X-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1X-10')">X-10</button></td>
		<td width="132" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="280" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U-0.002')">U-0.002</button></td>
		<td width="330" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="75" align="center" rowspan="5" colspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z-0.002')">Z-0.002</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U-0.01')">U-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y-0.01')">Y-0.01</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z-0.01')">Z-0.01</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U-0.1')">U-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y-0.1')">Y-0.1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z-0.1')">Z-0.1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U-1')">U-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y-1')">Y-1</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z-1')">Z-1</button></td>
	</tr>
	<tr>
		<td width="63" align="center"><button onclick="sendPhrase('213&G1U-10')">U-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('213&G1Y-10')">Y-10</button></td>
		<td width="132" align="center"><button onclick="sendPhrase('213&G1Z-10')">Z-10</button></td>
	</tr>
	</table>
	</table>

	
     <h2>Управление Макросами:</h2>
     
	<button onclick="sendPhrase('140&M98 MoveZ.g')">MoveZ</button>	 
	
    <div id="response"></div>

    <hr>

    <h1>Ввод Команд:</h1>
    <textarea id="commandInput" rows="1" cols="50"></textarea><br>
    <button onclick="sendCommand()">Отправить команду</button>

    <div id="commandResponse"></div>

    <script>
        function sendPhrase(phrase) {
            // Оставьте эту часть кода, чтобы отправить фразу на сервер
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/feedback', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'feedback=' + encodeURIComponent(phrase);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('response').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);
        }

        function sendCommand() {
            // Получаем текст из textarea
            var command = document.getElementById('commandInput').value;

            // Отправляем команду на сервер
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/command', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'command=' + encodeURIComponent(command);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('commandResponse').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);

            // Очищаем текстовое поле после отправки команды
            document.getElementById('commandInput').value = '';
        }
    </script>
</body>
</html>
