<!DOCTYPE html>
<html>
<head>
    <title>sendfrase</title>
</head>
<body>



	
	
	<h2><font face="Times New Roman" align="center"><u><b><i>plata 85</i></b></u></font></h2>
<table border="1" width="50%">
	<tr>
		<td width="250" colspan="5" align="center"><button onclick="sendPhrase('85&M112')">EMERGENCY STOP</button></td></td>
		<td width="50" align="center"><b>85</b></td>
		<td width="250" colspan="7" align="center"><button onclick="sendPhrase('85&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z10')">Z10</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y1')">Y1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z1')">Z1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y0.1')">Y0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z0.1')">Z0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y0.01')">Y0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z0.01')">Z0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y0.002')">Y0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z0.002')">Z0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U10')">U10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U1')">U1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U0.1')">U0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U0.01')">U0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U0.002')">U0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G28 UY')">Home UY</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U-0.002')">U-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U-0.01')">U-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U-0.1')">U-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U-1')">U-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1U-10')">U-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G28 Z')">Home Z</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X10')">X10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X1')">X1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X0.1')">X0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X0.01')">X0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X0.002')">X0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G28 XY')">Home XY</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X-1')">X-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1X-10')">X-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G28 Z')">Home Z</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z-0.002')">Z-0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y-0.01')">Y-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z-0.01')">Z-0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y-0.1')">Y-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z-0.1')">Z-0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y-1')">Y-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z-1')">Z-1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Y-10')">Y-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('85&G1Z-10')">Z-10</button></td>
	</tr>
	</table>
	</table>


	<h2><font face="Times New Roman" align="center"><u><i><b>plata 74</b></i></u></font></h2>
<table border="1" width="50%">
	<tr>
		<td width="250" colspan="5" align="center"><button onclick="sendPhrase('74&M112')">EMERGENCY STOP</button></td></td>
		<td width="50" align="center"><b>74</b></td>
		<td width="250" colspan="7" align="center"><button onclick="sendPhrase('74&G28')">Home ALL</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y10')">Y10</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center" rowspan="11">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z10')">Z10</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y1')">Y1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z1')">Z1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y0.1')">Y0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z0.1')">Z0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y0.01')">Y0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z0.01')">Z0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y0.002')">Y0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z0.002')">Z0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X10')">X10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X1')">X1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X0.1')">X0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X0.01')">X0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X0.002')">X0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G28 XY')">Home XY</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X-0.002')">X-0.002</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X-0.01')">X-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X-0.1')">X-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X-1')">X-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1X-10')">X-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G28 Z')">Home Z</button></td>
	</tr>
	<tr>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y-0.002')">Y-0.002</button></td>
		<td width="250" align="center" colspan="5" rowspan="5">&nbsp;</td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z-0.002')">Z-0.002</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y-0.01')">Y-0.01</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z-0.01')">Z-0.01</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y-0.1')">Y-0.1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z-0.1')">Z-0.1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y-1')">Y-1</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z-1')">Z-1</button></td>
	</tr>
	<tr>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Y-10')">Y-10</button></td>
		<td width="50" align="center"><button onclick="sendPhrase('74&G1Z-10')">Z-10</button></td>
	</tr>
	</table>
	</table>

	
	 <h2>Управление Лазером:</h2>
	 
    <button onclick="sendPhrase('85&M260A8B83:1')">Включить лазер</button>	
    <button onclick="sendPhrase('85&M260A8B83:1')">Отключить лазер</button>
    <button onclick="sendPhrase('85&M260A8B80:1')">Мощность 46%</button>
	<button onclick="sendPhrase('85&M260A8B83:0')">Мощность 0%</button>	
    <button onclick="sendPhrase('85&M260A8B75:1')">Одиночный выстрел</button>
    <button onclick="sendPhrase('85&M260A8B76:1')">Включить пилотный пучок</button>
	<button onclick="sendPhrase('85&M260A8B76:0')">Отключить пилотный пучок</button>
	
     <h2>Управление Макросами:</h2>
     
	<button onclick="sendPhrase('85&M98 MoveZ.g')">MoveZ</button>	 
	
    <div id="response"></div>

    <hr>

    <h1>Ввод Команд:</h1>
    <textarea id="commandInput" rows="1" cols="50"></textarea><br>
    <button onclick="sendCommand()">Отправить команду</button>

    <div id="commandResponse"></div>

    <script>
        function sendPhrase(phrase) {
            // Оставьте эту часть кода, чтобы отправить фразу на сервер
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/feedback', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'feedback=' + encodeURIComponent(phrase);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('response').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);
        }

        function sendCommand() {
            // Получаем текст из textarea
            var command = document.getElementById('commandInput').value;

            // Отправляем команду на сервер
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/command', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            var data = 'command=' + encodeURIComponent(command);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById('commandResponse').innerHTML = xhr.responseText;
                }
            };
            xhr.send(data);

            // Очищаем текстовое поле после отправки команды
            document.getElementById('commandInput').value = '';
        }
    </script>
</body>
</html>
