<!DOCTYPE html>
<html>
<head>
  <title>Управление Duet 2 WiFi</title>
  <script>
    // Функция для отправки команды G-code на Duet 2 WiFi
    function sendGCodeCommand(command) {
      // Создание XMLHttpRequest объекта
      var xhr = new XMLHttpRequest();

      // Установка метода запроса и URL-адреса для API Duet 2 WiFi
      xhr.open("POST", "http://192.168.0.100/rr_gcode", true); // Замените IP-адрес на фиксированный IP вашей платы

      // Установка заголовков запроса
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      // Отправка команды G-code в теле запроса
      xhr.send(encodeURIComponent(command));
    }

    // Обработчик события нажатия на кнопку движения вперед по оси X
    document.getElementById("moveForwardButton").addEventListener("click", function() {
      sendGCodeCommand("G1 X10"); // Замените на нужную команду для движения вперед
    });

    // Обработчик события нажатия на кнопку движения назад по оси X
    document.getElementById("moveBackwardButton").addEventListener("click", function() {
      sendGCodeCommand("G1 X-10"); // Замените на нужную команду для движения назад
    });
  </script>
</head>
<body>
  <h1>Управление Duet 2 WiFi</h1>
  <button id="moveForwardButton">Движение вперед</button>
  <button id="moveBackwardButton">Движение назад</button>
</body>
</html>