<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>X-1</title>
</head>

<body>

<table border="1" width="1138">
	<tr>
		<td width="225" rowspan="4">&nbsp;</td>
		<td width="39" align="center">&nbsp;</td>
		<td rowspan="4">&nbsp;</td>
		<td align="center" rowspan="9">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center" rowspan="9" width="58">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center">&nbsp;</td>
		<td height="23" align="center">&nbsp;</td>
		<td height="23" align="center">&nbsp;</td>
		<td height="23" align="center">&nbsp;</td>
		<td height="23" align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="225" height="34">
		<p align="right"><button onclick="sendPhrase('G1X-1')">X-1</button>&nbsp;
		<button onclick="sendPhrase('G1X-0.1')">X-0.1</button>&nbsp;
		<button onclick="sendPhrase('G1X-0.01')">X-0.01</button>&nbsp;
		<button onclick="sendPhrase('G1X-0.002')">X-0.002</button></td>
		<td width="39" align="center" height="34"></td>
		<td width="245" height="34">
		<p align="left"><button onclick="sendPhrase('G1X0.002')">X+0.002
		</button>&nbsp;<button onclick="sendPhrase('G1X0.01')">X+0.01</button>&nbsp;
		<button onclick="sendPhrase('G1X0.1')">X+0.1</button>&nbsp;
		<button onclick="sendPhrase('G1X1')">X+1</button></td>
		<td width="65" align="center" height="34">&nbsp;</td>
		<td width="82" align="center" height="34">&nbsp;</td>
		<td width="193" align="center" height="34">&nbsp;</td>
		<td width="166" align="center" height="34">
		<p align="left">&nbsp;</td>
	</tr>
	<tr>
		<td width="225" rowspan="4">&nbsp;</td>
		<td width="39" align="center">&nbsp;</td>
		<td rowspan="4">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center" height="31">&nbsp;</td>
		<td align="center" height="31">&nbsp;</td>
		<td align="center" height="31">&nbsp;</td>
		<td align="center" height="31">&nbsp;</td>
		<td align="center" height="31">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td width="39" align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
		<td align="center">&nbsp;</td>
	</tr>
</table>
<p>sSqs</p>
<p>S</p>
<p>qs</p>
<p>Q</p>
<p>S</p>
<p>qs</p>

</body>

</html>
